a {
  color: #1b65f6;
  text-decoration: none; }

* {
  box-sizing: border-box; }

.samba-app-layout {
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .samba-app-layout {
    padding: 0px 50px 50px 50px;
  }
}

.samba-app-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0 0 0;
}

.samba-app-container .samba-app-header {
  padding-bottom: 30px;
  text-align: center;
}

@media (min-width: 992px) {
  .samba-app-container .samba-app-header {
    float: left;
    padding-top: 100px;
    text-align: left;
  }
  .samba-app-container .samba-app-content {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.app-top-header {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.app-top-header h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 800;
}

.samba-app-form-actions .samba-app-button {
  width: 100%;
  text-align: center;
  display: block;
  font-weight: 800;
  color: #1b65f6;
  border: 1px solid #1b65f6;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
}
.samba-app-form-actions
.samba-app-button.primary {
  background: #1b65f6;
  color: #FFFFFF;
}
.samba-app-form-actions
.samba-app-button
.samba-app-button-link {
  background: none;
  border: 0 none;
  color: #1b65f6;
}

.samba-videos-container .loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.samba-goback-btn {
  color:#fff;
  padding: 10px 10px 10px 0;
  cursor:pointer;
  margin: 0 10px 10px 0;
}

.samba-goback-btn :hover {
  background-color: #b2d8f8;
  padding: 10px 10px 10px 10px;
}



