@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,800";

body {
  font-family: 'Open Sans', sans-serif;
  background: #1b65f6;
  color: #96a3bb;
  font-size: 13px; }

a {
  color: #1b65f6;
  text-decoration: none; }

* {
  box-sizing: border-box; }

.app-layout {
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .app-layout {
    padding: 100px 50px 50px 50px; }
}

.app-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0 0 0;
}
.app-container .app-header {
  padding-bottom: 30px;
  text-align: center;
}
.app-container .app-header .app-site-info {
  color: #FFFFFF;
}
.app-container .app-header .app-site-info h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 800;
}

.app-container .app-header .app-site-info .site-title {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 50px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 768px) {
  .app-container .app-header .app-site-info .site-title {
    display: none;
  }
}
.app-container .app-header .app-site-info .site-slogan {
  margin-top: 5px;
  padding: 0;
  font-size: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .app-container .app-header .app-site-info .site-slogan {
    display: none;
  }
}

@media (min-width: 992px) {
  .app-container .app-header {
    float: left;
    padding-top: 100px;
    text-align: left;
  }
  .app-container .app-content {
    float: right;
  }
}

