.samba-item-video {
    fload:left;
    margin:9px 7px 9px 0;
    display:inline-block;
    cursor: pointer;
    color:#FFFFFF;
}
.samba-item-video
.samba-video-thumb {
    width:143px;
    height:94px;
    background-color: #FFFFFF;
    padding:6px 6px;
}

.samba-item-video
.samba-video-thumb
.samba-video-status {
    position:relative;
}

.samba-video-status span {
    font-size: 11px;
}